<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h2>Itens</h2>
      <div *ngFor="let item of items"  class="cont">
        <div class="row">
          <div class="col-8 coll">
            <h3>{{ item.nome }}</h3>
            <p>{{ item.descricao }}</p>
          </div>
          <div class="col-2 coll">
            <b>R$ {{ item.valor }}</b>
            <p class="mb-p">Qtd: {{ item.quantidade }}</p>
            <p class="actions">
                <svg (click)="increase(item.id)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                <svg (click)="decrease(item.id)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                </svg>
            </p>
          </div>
          <div class="col-2 coll">
              <svg (click)="delete(item.id)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
              </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h2>Total</h2>
      <p class="p-pagar">R$ 70,00</p>
      <button class="btn-pagar" (click)="redirect()">Pagar</button>
    </div>
  </div>
</div>
